.navbar
  .navbar-inner
    .container
      %ul.nav
        %li.active
          %a{:href => "#"} Home
        %li
          %a{:href => "#"} People
        %li
          %a{:href => "#"} Places
        %li
          %a{:href => "#"} Institutions
        %li
          %a{:href => "#"} Events
        %li
          %a{:href => "#"} Documents
